body{
    margin: 20px;
}
.house-body{
    background-color: #F4F8FF;
    width: 25%;
    max-height: 500px;
    margin: 5px 15px;
    border-radius: 20px;
    padding: 0 0 30px;
}
.address{
    padding: 0 10px;

}
.house-img{
    width: 100%;
    border-radius: 20px 20px 0 0;
}
.house-details{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.house-cta{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px;
}
p{
    font-size: 13px;
    font-weight: 600;
}