.hero {
    background-image: url("../../Component/Image/images (1).jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    box-sizing: border-box;
    height: 90vh;
    width: 100%;
}
body {
    font-family: "poppins", sans-serif;
    background-color: #fff;
}
.container {
    max-width: 80%;
    margin: auto;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
   }

.hero .container {
    padding-top: 15%;
    
}
.hero h1 {
 color: #fff;
 font-size: 60px;
}
.hero p {
    color: #fff;
    opacity: 0;

}

form {
    background-color: #fff;
    border-radius: 5px;
    margin-top: 50px;
    padding: 0 20px;
    
}
form input {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(128,128,128,0.2);
    margin-top: 5px;
    border-radius:5px ;
}
form span {
    font-size: 14px;
    color: gray;

}
input::placeholder {
    font-size: 17px;
    color: black;
    

}
form .box {
    padding: 15px;
    border-left: 1px solid rgba(128, 128,128,0.2);
    
}
form .box:nth-child(1) {
    border-left: none;

}

.heading {
 text-align: center;
 width: 60%;
 margin: auto;
}
.heading h1 {
    color: #555;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 35px;
}
.heading p{
    color: #72809d;
}
textarea,
input{
    border: none;
    outline: none;
    background-color: none;
}

.hero-section {
    display: grid;
    text-align: center;
    width: 60%;
    margin-top:auto;
    justify-content: center;
    
   }
   .hero-section h1 {
       color: #fff;
       
       font-weight: 600;
       text-transform: bold;
       font-size: 25px;
       display: grid;
       justify-content: center;
       align-items: center;
   }
   .hero-section h2 {
    
       color: #fff;
       font-size: 35px;
       
       
       
       
       
       

   }